{% extends "shops_base/base.html" %}
{%load static%}

{% block static %}
    <link rel="stylesheet" href="{% static 'shops/css/mybag.css' %}">
{% endblock %}

{% block mybag %}
<div class="layout-mybagscroll">
    <ul class ="mybaglist">
      <li class="mybagitem">
        <ul>
          {% for cloth in user.cart.all %}
            <div>
              <li>{{ cloth.title }}</li>
              <li>{{ cloth.price }}</li>
              <div class="btn_delete"> <a href ="{%url 'cart-delete' cloth.id %}">삭제하기</a></div>
            </div>
              {% empty %}
              <li>Your bag is empty.</li>
          {% endfor %}
          <h2>총 가격 {{ total_price }}</h2>
        </ul>
      </li>
    </ul>
</div>
{% endblock mybag %}
